<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/assets/styles/about.css">
</head>
<body>
    <!-- Debe tener una barra de navegación-->
    <!-- Debe tener texto que permite en mayor profundidad de qué 
    se trata el sitio WEB estático-->
    <!-- Estilos css asociados a la página. (1 archivo css específico)-->
    <nav id="nav">
        <img src="../assets/imgs/Logo propiedades braiwls.png" alt="logo" id="logo">
        <a href="../../index.html" class="nav-link">Inicio</a>
        <a href="/src/views/about.html" class="nav-link">Nosotros</a>
        <a href="/src/views/site.html" class="nav-link">Propiedades</a>
    </nav>
    <header class="h-main">
        <h1>Sobre nosotros</h1>
        <h2>Conoce por qué nos apasiona tanto lo que hacemos</h2>
    </header>

    <section id="f-motivadoras">
        <div class="f-motiv">
            <div class="img-motiv">
                <img src="../assets/imgs/icon_persona_generica.png" alt="foto perfil">
            </div>
            <div class="titulo-motiv">
                <div class="nombre-motiv">Cárlos Gómez</div>
                <div class="cargo-motiv">Agente Inmobiliario de Ventas</div>
            </div>
            <div class="descrip-motiv">
                "Para mí, cada cliente es único y especial. Me apasiona trabajar con ellos y
                hacerles sentir cómodos y satisfechos con cada paso del proceso de compra o 
                venta de una propiedad. Para mí, la felicidad de mis clientes es la mejor
                recompensa. Como agente inmobiliario de ventas, me esfuerzo por ser un
                experto en el mercado inmobiliario y ayudar a mis clientes a tomar 
                decisiones informadas".
            </div>
        </div>
        <div class="f-motiv">
            <div class="img-motiv">
                <img src="../assets/imgs/icon_persona_generica.png" alt="foto perfil">
            </div>
            <div class="titulo-motiv">
                <div class="nombre-motiv">Ana López</div>
                <div class="cargo-motiv">Gerente de Relaciones con Clientes</div>
            </div>
            <div class="descrip-motiv">
                "Cada cliente que conozco es una oportunidad de crear relaciones duraderas 
                y brindar una experiencia inmobiliaria excepcional. Me esfuerzo por ser 
                una asesora de confianza para mis clientes, trabajando incansablemente para 
                asegurarme de que logren sus objetivos. Como gerente de relaciones con
                clientes, me aseguro de que todos los clientes de la corredora reciban 
                un trato excepcional y de que sus necesidades sean satisfechas en todo momento".
            </div>
        </div>
        <div class="f-motiv">
            <div class="img-motiv">
                <img src="../assets/imgs/icon_persona_generica.png" alt="foto perfil">
            </div>
            <div class="titulo-motiv">
                <div class="nombre-motiv">Sofía Morales</div>
                <div class="cargo-motiv">Asesora Inmobiliaria Senior</div>
            </div>
            <div class="descrip-motiv">
                "En el mundo inmobiliario, la clave del éxito es la empatía y el compromiso
                con los clientes. Para mí, no hay nada más gratificante que ayudar a mis 
                clientes a encontrar la casa de sus sueños y ser parte de la realización de
                sus sueños. Como asesora inmobiliaria senior, me enorgullece brindar una 
                experiencia excepcional y hacer que el proceso de compra o venta de una 
                propiedad sea lo más fácil posible para mis clientes".
            </div>
        </div>
        <div class="f-motiv">
            <div class="img-motiv">
                <img src="../assets/imgs/icon_persona_generica.png" alt="foto perfil">
            </div>
            <div class="titulo-motiv">
                <div class="nombre-motiv">Juan Antonio Perez</div>
                <div class="cargo-motiv">Fotógrafo inmobiliario</div>
            </div>
            <div class="descrip-motiv">
                "En cada propiedad que visito, veo una oportunidad única de ayudar a mis clientes
                 a encontrar su hogar perfecto y construir la vida que desean. Me encanta escuchar
                  sus historias y entender sus necesidades para poder guiarlos en la búsqueda de 
                  su hogar ideal. Es un privilegio para mí ser parte de este emocionante viaje."
            </div>
        </div>
    </section>

    <footer id="foot">
        <div class="box-foot"><img class="logo-foot" src="../assets/imgs/Logo propiedades braiwls.png" alt="logo" id="logo"></div>
        <div class="box-foot"><p>&copy; 2023 Braiwls. Todos los derechos reservados.</p></div>
        <div class="box-foot">
            <a href="#"><img class="media-foot" src="../assets/imgs/facebook.png"></a>
            <a href="#"><img class="media-foot" src="../assets/imgs/twitter.png"></a>
            <a href="#"><img class="media-foot" src="../assets/imgs/instagram.png"></a>
            <a href="#"><img class="media-foot" src="../assets/imgs/tik-tok.png"></a>
        </div>
    </footer>
</body>
</html>



