<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Braiwls Propiedades</title>
    <link rel="stylesheet" href="/src/assets/styles/site.css">
    <link rel="icon" href="../assets/imgs/Logo propiedades braiwls.png">
</head>
<body>
 
    <!-- Barra de navegación -->
    <nav id="nav">
        <img src="../assets/imgs/Logo propiedades braiwls.png" alt="logo" id="logo">
        <a href="../../index.html" class="nav-link">Inicio</a>
        <a href="/src/views/about.html" class="nav-link">Nosotros</a>
        <a href="/src/views/site.html" class="nav-link">Propiedades</a>
    </nav>

    <!-- Titulo del sitio web -->
    <header class="h-main">
        <h1>Bienes raices disponibles</h1>
        <h2>Conoce nuestras propiedades disponibles a la venta</h2>
    </header>

    <!-- Un pseudo-grid basado en flexbox para el comportamiento responsivo -->
    <div class="grid-propiedades">
        <!-- Un elemento del pseudo-grid.-->
        <div class="elem-p">
            <div class="img-prop">
                <img src="../assets/imgs/casa_vitacura.jpg" alt="casa de vitacura">
            </div>
            <div class="titulo-prop">
                <div class="nombre-prop">Venta UF 6.500</div>
                <div class="cargo-prop">Hermosa casa en vitacura</div>
            </div>
            <div class="caract-prop">
                <ul>
                    <li>
                        <img src="../assets/imgs/bed-icon.png" alt="icon-bed">
                        5 dorm.
                    </li>
                    <li>
                        <img src="../assets/imgs/bathroom-icon.png" alt="icon-bed">
                        3 baño.
                    </li>
                    <li>
                        <img src="../assets/imgs/square-icon.png" alt="icon-bed">
                        120m<sup>2</sup>
                    </li>
                </ul>
            </div>
            <button class="boton-ver">Ver propiedad</button>
        </div>
        <!-- Un elemento del pseudo-grid.-->
        <div class="elem-p">
            <div class="img-prop">
                <img src="../assets/imgs/casa_la_florida.jpg" alt="casa de la florida">
            </div>
            <div class="titulo-prop">
                <div class="nombre-prop">Venta UF 8.000</div>
                <div class="cargo-prop">Hermosa casa en la florida</div>
            </div>
            <div class="caract-prop">
                <ul>
                    <li>
                        <img src="../assets/imgs/bed-icon.png" alt="icon-bed">
                        6 dorm.
                    </li>
                    <li>
                        <img src="../assets/imgs/bathroom-icon.png" alt="icon-bed">
                        3 baño.
                    </li>
                    <li>
                        <img src="../assets/imgs/square-icon.png" alt="icon-bed">
                        131m<sup>2</sup>
                    </li>
                </ul>
            </div>
            <button class="boton-ver">Ver propiedad</button>
        </div>
        <!-- Un elemento del pseudo-grid.-->
        <div class="elem-p">
            <div class="img-prop">
                <img src="../assets/imgs/casa_las_condes.jpg" alt="casa de las condes">
            </div>
            <div class="titulo-prop">
                <div class="nombre-prop">Venta UF 7.000</div>
                <div class="cargo-prop">Hermosa casa en las condes</div>
            </div>
            <div class="caract-prop">
                <ul>
                    <li>
                        <img src="../assets/imgs/bed-icon.png" alt="icon-bed">
                        4 dorm.
                    </li>
                    <li>
                        <img src="../assets/imgs/bathroom-icon.png" alt="icon-bed">
                        2 baño.
                    </li>
                    <li>
                        <img src="../assets/imgs/square-icon.png" alt="icon-bed">
                        85m<sup>2</sup>
                    </li>
                </ul>
            </div>
            <button class="boton-ver">Ver propiedad</button>
        </div>
        <!-- Un elemento del pseudo-grid.-->
        <div class="elem-p">
            <div class="img-prop">
                <img src="../assets/imgs/casa_de_campo.jpg" alt="casa de campo">
            </div>
            <div class="titulo-prop">
                <div class="nombre-prop">Venta UF 3.200</div>
                <div class="cargo-prop">Hermosa casa en valparaiso</div>
            </div>
            <div class="caract-prop">
                <ul>
                    <li>
                        <img src="../assets/imgs/bed-icon.png" alt="icon-bed">
                        3 dorm.
                    </li>
                    <li>
                        <img src="../assets/imgs/bathroom-icon.png" alt="icon-bed">
                        1 baño.
                    </li>
                    <li>
                        <img src="../assets/imgs/square-icon.png" alt="icon-bed">
                        65m<sup>2</sup>
                    </li>
                </ul>
            </div>
            <button class="boton-ver">Ver propiedad</button>
        </div>
        <!-- Un elemento del pseudo-grid.-->
        <div class="elem-p">
            <div class="img-prop">
                <img src="../assets/imgs/casa_lo_barnechea.jpg" alt="casa de lo barnechea">
            </div>
            <div class="titulo-prop">
                <div class="nombre-prop">Venta UF 7.000</div>
                <div class="cargo-prop">Hermosa casa en lo barnechea</div>
            </div>
            <div class="caract-prop">
                <ul>
                    <li>
                        <img src="../assets/imgs/bed-icon.png" alt="icon-bed">
                        4 dorm.
                    </li>
                    <li>
                        <img src="../assets/imgs/bathroom-icon.png" alt="icon-bed">
                        2 baño.
                    </li>
                    <li>
                        <img src="../assets/imgs/square-icon.png" alt="icon-bed">
                        90m<sup>2</sup>
                    </li>
                </ul>
            </div>
            <button class="boton-ver">Ver propiedad</button>
        </div>
    </div>

    <!-- Footer donde van las redes sociales, el logo y los derechos reservados-->
    <footer id="foot">
        <div class="box-foot"><img class="logo-foot" src="../assets/imgs/Logo propiedades braiwls.png" alt="logo" id="logo"></div>
        <div class="box-foot"><p>&copy; 2023 Braiwls. Todos los derechos reservados.</p></div>
        <div class="box-foot">
            <a href="#"><img class="media-foot" src="../assets/imgs/facebook.png"></a>
            <a href="#"><img class="media-foot" src="../assets/imgs/twitter.png"></a>
            <a href="#"><img class="media-foot" src="../assets/imgs/instagram.png"></a>
            <a href="#"><img class="media-foot" src="../assets/imgs/tik-tok.png"></a>
        </div>
    </footer>
</body>
</html>