<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--En esta pagina se encuentran las fichas-->
    <!--Estilo css específico para esta página-->
    <!--Se debe utilizar flexbox o grid-->
    <!--Utilizar media queries para que el sitio sea responsivo-->
    <!-- Se debe apreciar un cambio de estilo en caso que cambie le tamaño de la pantalla-->
    <!--De ser necesario, deberan entregar tambi ´ en, en el directorio correspondiente, todas las im ´ agenes y otros ´
        recursos requeridos para el despliegue correcto de su pagina.-->
</body>
</html>