<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/assets/styles/site.css">
</head>
<body>
    <!--En esta pagina se encuentran las fichas-->
    <!--Estilo css específico para esta página-->
    <!--Se debe utilizar flexbox o grid-->
    <!--Utilizar media queries para que el sitio sea responsivo-->
    <!-- Se debe apreciar un cambio de estilo en caso que cambie le tamaño de la pantalla-->
    <!--De ser necesario, deberan entregar tambi ´ en, en el directorio correspondiente, todas las im ´ agenes y otros ´
        recursos requeridos para el despliegue correcto de su pagina.-->
    <nav id="nav">
        <img src="../assets/imgs/Logo propiedades braiwls.png" alt="logo" id="logo">
        <a href="../../index.html" class="nav-link">Inicio</a>
        <a href="/src/views/about.html" class="nav-link">Nosotros</a>
        <a href="/src/views/site.html" class="nav-link">Propiedades</a>
    </nav>
    <footer id="foot">
        <div class="box-foot"><img class="logo-foot" src="../assets/imgs/Logo propiedades braiwls.png" alt="logo" id="logo"></div>
        <div class="box-foot"><p>&copy; 2023 Braiwls. Todos los derechos reservados.</p></div>
        <div class="box-foot">
            <a href="#"><img class="media-foot" src="../assets/imgs/facebook.png"></a>
            <a href="#"><img class="media-foot" src="../assets/imgs/twitter.png"></a>
            <a href="#"><img class="media-foot" src="../assets/imgs/instagram.png"></a>
            <a href="#"><img class="media-foot" src="../assets/imgs/tik-tok.png"></a>
        </div>
    </footer>
</body>
</html>