body{
    margin: 0;
    margin-top: 75px;
    padding: 0;
    background-color: white;
    color:  #434242;
    font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("../imgs/background2.jpg");
    background-repeat: repeat;
    background-size: 20%;
    height: 100%;
    position: relative;
    padding-bottom: 10em;
    min-height: 100vh;
}

#nav {
    background-color: rgba(42, 75, 137, 0.85);
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 35px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.nav-link{
    color: #dadae1;
    text-decoration: none;
    margin: 10px;
    margin-inline: 30px;
    display: inline-block;
}
.nav-link:hover{
    color: white;
}
#logo {
    transform: scale(1);
    margin-inline-end: 30px;
}

.h-main {

    text-align: center;
}
#f-motivadoras {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
#f-motivadoras .f-motiv {
    background-color: white;
    border-radius: 10px;
    margin-inline: 20px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

#f-motivadoras .titulo-motiv {
    background-color: rgba(169, 222, 255, 0.75);
    
    border-radius: 3px;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

#f-motivadoras .descrip-motiv {
    max-width: 220px;
}

#f-motivadoras .titulo-motiv .nombre-motiv {
    font-weight: bold;
    text-transform: uppercase;
}
#f-motivadoras .titulo-motiv .cargo-motiv {
    font-size: 13px;
    color: rgb(61, 61, 61);
}

#f-motivadoras .f-motiv .img-motiv img{
    width: 200px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.1);
}

.mision {

    text-align: center;
    width: 500px;
    min-width: 160px;
    margin: 70px auto;
}

.mision h1 {

    font-size: 30px;
}
.mision p {
    text-align: justify;
    font-size: 20px;
}


#foot {
    background-color: rgba(42, 75, 137, 0.85);
    width: 100%;
    margin-top: 100px;
    height: fit-content;
    position: absolute;
    bottom: 0;
    padding: 1em 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foot .box-foot {
    width: 100%;
    height: fit-content;
    text-align: center;
}
#foot .box-foot p {
    color: rgb(230, 222, 222);
}
#foot .box-foot .logo-foot {
    width: 130px;
}
#foot .box-foot .media-foot {
    width: 40px;
    margin-inline: 6px;
}

@media screen and (max-width: 1040px) {

    #f-motivadoras {
        display: flex;
        flex-wrap: wrap;
    }
    
    #f-motivadoras .f-motiv {
        margin-bottom: 20px;
    }
}