body{
    margin: 0;
    margin-top: 75px;
    padding: 0;
    background-color: white;
    color:  #434242;
    font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("../imgs/background2.jpg");
    background-repeat: repeat;
    background-size: 20%;
    height: 100%;
    position: relative;
    padding-bottom: 10em;
    min-height: 100vh;
}
#nav {
    background-color: rgba(42, 75, 137, 0.85);
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 35px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.nav-link{
    color: #dadae1;
    text-decoration: none;
    margin: 10px;
    margin-inline: 30px;
    display: inline-block;
}
.nav-link:hover{
    color: white;
}
#logo {
    transform: scale(1);
    margin-inline-end: 30px;
}

.slider {
    width: 500px;
    overflow: hidden;
    margin: 0 20px;
    height: 350px;
    padding: 0;
    border-radius: 15px;
    border: 3px solid rgba(28, 44, 73, 0.6);
    min-width: 500px;
}
.slider ul {
    padding: 0;
    display: flex;
    width: 500%;
    height: inherit;
    animation: cambio_img 20s infinite alternate linear;
}
.slider li {
    list-style: none;
    width: 100%;
    height: inherit;
}
.slider img {
    width: inherit;
    height: 400px;
    margin: auto;
    display: block;
    position: relative;
    top: -20px;
    left: 0px;

}

@keyframes cambio_img {
    0% { margin-left: 0; }
    15% { margin-left: 0; }

    20% { margin-left: -100%; }
    35% { margin-left: -100%; }

    40% { margin-left: -200%; }
    55% { margin-left: -200%; }

    60% { margin-left: -300%; }
    75% { margin-left: -300%; }

    80% { margin-left: -400%; }
    100% { margin-left: -400%; }
}

h1{
    text-align: center;
}
#contenido-principal {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.upgrade {
    margin-top: 0;
    width: 320px;
    height: 620px;
    min-height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-inline: auto;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.upgrade article {
    text-align: center;
}
.upgrade article h2 {
    font-size: 30px;
}
.upgrade article p {
    font-size: 20px;
}
.upgrade article .precio-plan {
    font-size: 35px;
    color: rgba(42, 75, 137, 1);
    font-weight: bold;
}
.upgrade article .descripcion-plan {
    list-style: none;
    padding: 0;

}
.upgrade article .descripcion-plan li {
    padding-block: 10px;
    text-align: start;
    font-weight: bold;
    background-color: rgb(189, 185, 185);
    margin-inline: 0px;
    margin-block: 10px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);

}
.upgrade article .descripcion-plan .premium-item-plan {
    background-color: rgb(255, 204, 0);
}

.upgrade article .descripcion-plan li span {
    font-size: 20px;
    color: rgb(0, 0, 0);

}
.upgrade .zona-boton {
    margin-inline: auto;
    width: fit-content;
    margin-top: 50px;
}
.upgrade .zona-boton .boton-contratar {
    background-color: orange;
    color: white;
    font-size: 16px;
    padding: 12px 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.upgrade .zona-boton :hover {
    color: rgb(255, 247, 176);
}

#foot {
    background-color: rgba(42, 75, 137, 0.85);
    width: 100%;
    margin-top: 100px;
    height: fit-content;
    position: absolute;
    bottom: 0;
    padding: 1em 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foot .box-foot {
    width: 100%;
    height: fit-content;
    text-align: center;
}
#foot .box-foot p {
    color: rgb(230, 222, 222);
}
#foot .box-foot .logo-foot {
    width: 130px;
}
#foot .box-foot .media-foot {
    width: 40px;
    margin-inline: 6px;
}
@media screen and (max-width: 1100px) {

    .upgrade {
        height: 750px;
    }

}
@media screen and (max-width: 1000px) {
    #contenido-principal {
        flex-direction: column;
    }
    .upgrade {
        flex-basis: 100%;
        width: 464px;
    }
    .slider {
        margin-inline: auto;
        margin-block: 20px;
    }
}